/* table.css */

.table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
}

.table__caption {
  caption-side: bottom;
  text-align: right;
  font-size: 12px;
  margin-top: 12px;
}


.table__tableCell {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid #ededed;
  vertical-align: middle;
}

.table__tableHeader {
  color: #fff;
  background-color: #1b398d;
  font-weight: 600;
}

.table__tableRow:nth-child(even) {
  background-color: #f7f7f7;
}

.table__tableRow:nth-child(odd) {
  background-color: #fff;
}

.table__tableRow:hover {
  background-color: #000;
  color: #fff;
}